<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Artform - {{ page_name }}</title>

	<!-- note the special href for files in the Flask "static" folder -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	{% block script %}
	{% endblock %}
</head>
<body>

<div id="container">
  {% block content %}
  {% endblock %}
</div>

<div id="flashes">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
</div>
</body>
</html>
