{% extends "base.html" %}
{% block content %}
    <h1>Here's a cool challenge!</h1>
    <h2>{{ title }}</h2>
    <h3>{{ description }}</h3>
    <p>
        Created by {{ created_by }}.<br>
        Started at {{ created_at }}.
    </p>

    <br>
    <br>
    <br>

    <h1>Already made submissions:</h1>
    <!-- Make for loop for all of the submissions-->
    <ul>
        {% for submission in submissions %}
        <li>
            <img src="/static/user-content/{{ submission.link_id }}">
            <h2>{{ submission.title }}</h2>
            <h3>{{ submission.description }}</h3>
            <p>Created by {{ submission.id }}</p>
            <br>
            <p>{{ submission.number_of_likes }} likes</p>
            {% if submission.already_liked %}
            <form method="post" action="/remove_like/{{submission.id}}">
                <input type="hidden" name="like" value="true">
                <button type="submit">Remove like</button>
            </form>
            {% else %}
                <form method="post" action="/like/{{submission.id}}">
                    <input type="hidden" name="like" value="true">
                    <button type="submit">Like</button>
                    </form>
            {% endif %}
            <ul>
                {% for comment in submission.comments %}
                    <li>
                        {{ comment.message }}
                    </li>
                {% endfor %}
            </ul>
            <br>

            <p>Add a comment: </p>
            <form method="post" action="/add-comment/{{submission.id}}">
                <input type="text" placeholder="A heartwarming response to their art!" name="message">
                <input type="submit" value="Comment!">
            </form>
        </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <br>

    <div id="make-submission">
        <h1>Make your submission!</h1>
        <form method="post" action="/add-submission/{{ challenge_id }}" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="A creative title your your stunning piece...">
            <input type="text" name="description" placeholder="A short but apt description...">
            <input type="file" name="file" accept=".png, .jpg, .jpeg">
            <input type="submit" value="Upload">
        </form>
    </div>
{% endblock %}

{% block script %}

{% endblock %}