{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="p-5 bg-white items-center border border-gray-200 rounded-3xl shadow dark:bg-gray-800 dark:border-gray-700 mb-10 w-8/12 ">
        <p class="text-6xl text-gray-400 dark:text-white self-center text-2xl font-semibold underline decoration-sky-500">Artform</p>
        <p class="text-3xl text-black-900 dark:text-white self-center text-2xl font-semibold mt-5">Creativity through competition</p>
        <a href="{{ url_for('explore') }}">
            <button type="button" class="mt-10 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-l px-10 py-5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                Explore Challenges
            </button>
        </a>
    </div>
</div>
{% endblock %}