<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello</title>
    </head>

    <body>
    <h1>
        User page <br>
        Hello there {{ name }}
    </h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>
        <a href="/addpost">New post</a> <br>
        <a href="/logout">Logout?</a>
    </p>
    </body>
</html>